In [1]:
import numpy as np
import pandas as pd

In [2]:
#Annual CO2 emissions (in tons) from 1750-2020 sourced from Global Carbon Project/Our World in Data
df = pd.read_csv("annual-co2-emissions-per-country.csv")
df.tail(5)

         Entity Code  Year  Annual CO2 emissions
24665  Zimbabwe  ZWE  2016              10737567
24666  Zimbabwe  ZWE  2017               9581633
24667  Zimbabwe  ZWE  2018              11854367
24668  Zimbabwe  ZWE  2019              10949084
24669  Zimbabwe  ZWE  2020              10531342

In [3]:
world_df = df.loc[df['Entity'] == 'World']
world_df = world_df.drop(columns = ['Entity', 'Code'])
world_df = world_df.set_index('Year')
world_df.tail(5)

      Annual CO2 emissions
Year
2016           35452459298
2017           35925737687
2018           36646139785
2019           36702502903
2020           34807259099

In [4]:
world_df.to_csv("Global Annual CO2 Emissions.csv")