In [73]:
import numpy as np
import pandas as pd

In [74]:
#population.csv from ourworldindata.org
#Missing population values(i.e years 1751-1759, 1761-1769, 1771-1779, 1781-1789, 1791-1799) were filled in using pandas.Series.interpolate()
#Interpolation method was linear

df = pd.read_csv("population.csv")
df = df.loc[1749 < df['Year']]
df = df.loc[df['Year'] < 2021]
df = df.loc[df['Entity'] == 'World']
df = df.drop(columns = ['Code', 'Entity'])
df.reset_index(inplace=True)
df.tail(5)

     index  Year  Population (historical estimates)
221  54873  2016                         7464344232
222  54874  2017                         7548182589
223  54875  2018                         7631091110
224  54876  2019                         7713468203
225  54877  2020                         7794798725

In [75]:
dict = {}

for i in df.index.tolist():
    dict[df.iloc[i]['Year']] = df.iloc[i]['Population (historical estimates)']

In [76]:
for i in range(1751,1760):
    dict[i] = np.NaN
    
for i in range(1761,1770):
    dict[i] = np.NaN
    
for i in range(1771,1780):
    dict[i] = np.NaN
    
for i in range(1781,1790):
    dict[i] = np.NaN
    
for i in range(1791,1800):
    dict[i] = np.NaN

In [40]:
dict[1751]

nan

In [77]:
world_df = pd.DataFrame.from_dict(dict, orient='index', columns=['Population'])
world_df = world_df.sort_index(axis=0)

In [66]:
list(world_df.columns)

['Population']

In [78]:
world_df['Population'] = world_df['Population'].interpolate(method='linear')

In [79]:
world_df.to_csv("Cleaned Global Population Data.csv")